<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shanlihou.schooltao"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>
    <application android:label="@string/app_name"
                 android:name=".MainApplication"
                 android:theme="@style/appTheme"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="com.shanlihou.activity.MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.shanlihou.activity.LoginActivity"/>
        <activity android:name="com.shanlihou.activity.RegisterActivity"/>
        <activity android:name="com.shanlihou.activity.SchoolChoiceActivity"/>
        <activity android:name="com.shanlihou.activity.ShoppingCarActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
